https://www.sqlitetutorial.net/sqlite-python/creating-database/#:~:text=When%20you%20connect%20to%20an,function%20of%20the%20sqlite3%20module.

In [108]:
# Создадим Базу данных sales.db
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    import os
    create_connection(os.path.join("sales.db"))

2.6.0

**Создание таблиц справочников и основной таблицы**

https://habr.com/ru/articles/754400/

In [109]:
# Устанавливаем соединение с базой данных
connection = sqlite3.connect(os.path.join("sales.db"))
cursor = connection.cursor()

# Создаем таблицу Branch
cursor.execute('''
CREATE TABLE IF NOT EXISTS Branch(
Branch TEXT PRIMARY KEY
)
''')

# Создаем таблицу City
cursor.execute('''
CREATE TABLE IF NOT EXISTS City(
City TEXT PRIMARY KEY
)
''')

# Создаем таблицу Product_Line
cursor.execute('''
CREATE TABLE IF NOT EXISTS Product_line(
Product_Line TEXT PRIMARY KEY
)
''')

# Создаем таблицу Customer_Type
cursor.execute('''
CREATE TABLE IF NOT EXISTS Customer_type(
Customer_Type TEXT PRIMARY KEY
)
''')

# Создаем таблицу Gender
cursor.execute('''
CREATE TABLE IF NOT EXISTS Gender(
Gender TEXT PRIMARY KEY
)
''')

# Создаем таблицу Payment
cursor.execute('''
CREATE TABLE IF NOT EXISTS Payment(
Payment TEXT PRIMARY KEY
)
''')


# Создадим таблицу Sales
cursor.execute('''
CREATE TABLE IF NOT EXISTS Sales(
Invoice_ID TEXT,
Branch TEXT, 
City TEXT,
Customer_Type TEXT,
Gender TEXT,
Product_Line TEXT,
Unit_Price REAL,
Quantity INTEGER,
Total REAL,
Date TEXT,
Time TEXT,
Payment REAL,
Payments_fee REAL,
Gross_income REAL,
Cost_price REAL,
Unit_cost REAL
)
''')

Заполнение справочников и БД

In [9]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting numpy<2,>=1.22.4 (from pandas)
  Using cached numpy-1.26.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Using cached numpy-1.26.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3

In [90]:
import os
import pandas as pd
df = pd.read_csv(os.path.join("clear_data.csv"))
df

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Total,Date,Time,Payment,Payments_fee,Gross_income,Cost_price,Unit_cost
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,76.24,6,457.44,2019-01-01 00:00:00.000000000,2023-11-05 10:39:00.000000000,Credit card,13.72,68.62,388.82,64.80
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,49.97,8,399.76,2019-01-01 00:00:00.000000000,2023-11-05 14:47:00.000000000,Cash,0.00,71.96,327.80,40.98
2,891-01-7034,B,Mandalay,Normal,Male,Electronic accessories,78.45,6,470.67,2019-01-01 00:00:00.000000000,2023-11-05 19:07:00.000000000,Cash,0.00,70.60,400.07,66.68
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,38.83,10,388.29,2019-01-01 00:00:00.000000000,2023-11-05 19:48:00.000000000,Credit card,11.65,58.24,330.05,33.01
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,66.38,2,132.76,2019-01-01 00:00:00.000000000,2023-11-05 15:51:00.000000000,Cash,0.00,19.91,112.85,56.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,291-55-6563,A,Yangon,Member,Female,Home and lifestyle,36.14,6,216.85,2019-03-30 00:00:00.000000000,2023-11-05 12:45:00.000000000,Ewallet,3.25,39.03,177.82,29.64
1165,361-85-2571,A,Yangon,Normal,Female,Sports and travel,93.95,5,469.77,2019-03-30 00:00:00.000000000,2023-11-05 10:18:00.000000000,Cash,0.00,70.47,399.30,79.86
1166,364-34-2972,C,Naypyitaw,Member,Male,Electronic accessories,101.66,3,304.98,2019-03-30 00:00:00.000000000,2023-11-05 20:37:00.000000000,Cash,0.00,45.75,259.23,86.41
1167,115-38-7382,C,Naypyitaw,Member,Female,Fashion accessories,4.64,8,37.12,2019-03-30 00:00:00.000000000,2023-11-05 12:51:00.000000000,Credit card,1.11,9.28,27.84,3.48
1168,115-38-7382,C,Naypyitaw,Member,Female,Fashion accessories,4.97,8,39.75,2019-03-30 00:00:00.000000000,2023-11-05 12:51:00.000000000,Credit card,1.19,9.94,29.81,3.73

In [67]:
Branch_df = df[["Branch"]]
Branch_df.drop_duplicates(inplace=True)
Branch_df

/tmp/ipykernel_34048/3470804778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Branch_df.drop_duplicates(inplace=True)

  Branch
0      A
2      B
3      C

In [81]:
!pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.23-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting typing-extensions>=4.2.0 (from SQLAlchemy)
  Downloading typing_extensions-4.8.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from SQLAlchemy)
  Downloading greenlet-3.0.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.7 kB)
Downloading SQLAlchemy-2.0.23-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 6.0 MB/s eta 0:00:0000:0100:01
Using cached greenlet-3.0.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (613 kB)
Downloading typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Installing collected packages: typing-extensions, greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.23 greenlet-3.0.1 typing-extensions-4.8.0

In [111]:
# Добавим в БД справочники:
# https://www.alixaprodev.com/how-to-insert-pandas-dataframe-to-sqlite-table-in-python/
# https://stackoverflow.com/questions/53189071/insert-a-pandas-dataframe-into-a-sqlite-table-update-a-table-with-a-dataframe

from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo=False)

# ["Branch", "City", "Product_Line", "Customer_Type", "Customer_Type", "Gender", "Payment"]:
for cl in ["Branch", "City", "Product_line", "Customer_type", "Gender", "Payment"]:
    print(cl)
    temp_df = df[[cl]]
    temp_df.drop_duplicates(inplace=True)
    print(temp_df)
    temp_df.to_sql(cl, con=engine, if_exists='replace', index=False)

Branch
  Branch
0      A
2      B
3      C
City
        City
0     Yangon
2   Mandalay
3  Naypyitaw

/tmp/ipykernel_34048/3635520179.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)
/tmp/ipykernel_34048/3635520179.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)

Product_line
               Product_line
0         Sports and travel
1        Home and lifestyle
2    Electronic accessories
5         Health and beauty
6       Fashion accessories
10       Food and beverages
12  Clothes and accessories
Customer_type
  Customer_type
0        Normal
1        Member

/tmp/ipykernel_34048/3635520179.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)
/tmp/ipykernel_34048/3635520179.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)

Gender
   Gender
0    Male
3  Female
Payment
       Payment
0  Credit card
1         Cash
7      Ewallet

/tmp/ipykernel_34048/3635520179.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)
/tmp/ipykernel_34048/3635520179.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(inplace=True)

In [114]:
df.to_sql("Sales", con=engine, if_exists='replace', index=False)

1169